{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'img/favicon2.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <title>PárvuloConnect - Iniciar Sesión</title>
</head>
<body class="login-page">
    <div class="login-container">
        <h1 class="title">PárvuloConnect</h1>
        <div class="login-box">
            <form id="loginForm" method="post" class="login-form">
                {% csrf_token %}
                <div class="form-group">
                  <label for="{{ form.email.id_for_label }}">Usuario: </label>
                  {{ form.username }}
                </div>
                <div class="form-group">
                  <label for="{{ form.password.id_for_label }}">Contraseña: </label>
                  {{ form.password }}
                </div>
                <button type="submit" class="btn btn-primary">Iniciar sesión</button>
                <hr>
                <a href="{% url 'registro' %}" class="btn btn-primary">Regístrese</a>
              </form>
        </div>
    </div>
</body>
</html>