{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'img/favicon2.png' %}" type="image/x-icon" sizes="512x512">
    
    <title>PárvuloConnect</title>
    <link rel="stylesheet" href="{% static 'css/apoderado.css' %}">
</head>
<body>
    <div class="title" style="color: #ffffff;">PárvuloConnect</div>
    <div>
        <br>
        <br>
        <p style="font-weight: bold; font-size: xx-large; color: #000000;">¡Hola, {{ request.user.nombre }}!</p>
    </div>
    <div class="buttons">
        <div ><a style="color:#ffffff;" href="{% url 'core:planificacionesApoderado' %}" class="button">Planificaciones</a></div>
        <div ><a style="color:#ffffff;" href="{% url 'core:reportesApoderado' %}" class="button">Reportes</a></div>
        <div ><a style="color:#ffffff;" href="{% url 'core:logout' %}" class="button">Cerrar sesión</a></div>
    </div>
</body>
</html>
