{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'img/favicon2.png' %}" type="image/x-icon" sizes="512x512">
    <link rel="stylesheet" href="{% static 'css/apoderado.css' %}">
    <title>Portal de Apoderado</title>
</head>
<body>
    <div class="title" style="color: #ffffff;">PárvuloConnect</div>
    <div class="buttons">
        <div ><a style="color:#ffffff;" href="{% url 'core:planificacionesApoderado' %}" class="button" style="color: #ffffff;">Planificaciones</a></div>
        <div ><a style="color:#ffffff;" href="{% url 'core:reportesApoderado' %}" class="button" style="color: #ffffff;">Reportes</a></div>
        <div ><a style="color:#ffffff;" href="{% url 'core:logout' %}" class="button" style="color: #ffffff;">Cerrar sesión</a></div>
    </div>
</body>
</html>
