{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Planificaciones</title>
    <link rel="icon" href="{% static 'img/favicon2.png' %}" type="image/x-icon" sizes="512x512">
    <link rel="stylesheet" href="{% static 'css/portalNotas.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/5.11.3/main.min.css">
</head>
<body>
    <button class="btn btn-primary" onclick="window.location.href='{% url 'core:portalNotas' %}'" style="text-align: center;">Regresar al Portal de Notas</button>
    <h1 style="color: #000000;">Agregar Nota - Curso {{ curso.nombre_curso }}</h1>
    <div class="container mt-5">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Guardar Nota</button>
        </form>
        <p><a href="{% url 'core:portalNotas' %}" class="btn btn-secondary">Volver al Portal de Notas</a></p>
    </div>
    <p class="mt-5 mb-3 text-muted">&copy; {% now 'Y' %} ParvuloConnect</p>
</body>
</html>