{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'img/favicon2.png' %}" type="image/x-icon" sizes="512x512">
    <title>PárvuloConnect</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <div class="main-container">
        <header>
            <div class="header-banner">
                <h1 class="project-title">PárvuloConnect</h1>
                {% if user.is_authenticated %}
                    <div class="login-button">
                        <div class="dropdown">
                            <a href="#" class="btn-login dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-user-circle"></i>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="portal/">Portal</a>
                                <a class="dropdown-item" href="{% url 'logout' %}">Cerrar sesión</a>
                            </div>
                        </div>
                    </div> 
            </div>
                {% else %}
                    <div class="login-button">
                        <a href="{% url 'login' %}" class="btn-login"><i class="fas fa-user-circle"></i></a>
                    </div>
                {% endif %}
        </header>
    </div>

        <footer>
            <p>- <a href="#">Políticas de Privacidad</a> - | - <a href="#">Términos y Condiciones</a> -</p>
            <p>© 2024 PárvuloConnect. Todos los derechos reservados.</p>&nbsp;<a href="https://github.com/medrano00/ESPINOZA_FABIAN_LAGOS_BASTIAN_VIDAL_BRANDON/tree/ParvuloConnect">GitHub del Proyecto</a>
        </footer>
    </div>
</body>
</html>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
