{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'img/favicon2.png' %}" type="image/x-icon" sizes="512x512">
    <link rel="stylesheet" href="{% static 'css/parvularia.css' %}">
    <title>Portal de Parvularia - PárvuloConnect</title>
</head>
<body>
    <div class="title" style="color: #ffffff;">PárvuloConnect</div>
    <div class="buttons">
        <div style="font-weight: bold; font-size: xx-large; color: #ffffff;"><a href="{% url 'core:planificaciones' %}" class="button" style="color: #ffffff;">Planificaciones</a></div>
        <div style="font-weight: bold; font-size: xx-large; color: #ffffff;"><a href="{% url 'core:reportes' %}" class="button" style="color: #ffffff;">Reportes</a></div>
        <div style="font-weight: bold; font-size: xx-large; color: #ffffff;"><a href="{% url 'core:portalAsistencia' %}" class="button" style="color: #ffffff;">Portal de Asistencia</a></div>
        <div style="font-weight: bold; font-size: xx-large; color: #ffffff;"><a href="{% url 'core:portalNotas' %}" class="button" style="color: #ffffff;">Portal de Notas</a></div>
        <br>
        <div style="font-weight: bold; font-size: xx-large; color: #ffffff;"><a href="{% url 'core:logout' %}" class="button" style="color: #ffffff;">Cerrar sesión</a></div>
    </div>
</body>
</html>