{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'img/favicon2.png' %}" type="image/x-icon" sizes="512x512">
    <link rel="stylesheet" href="{% static 'css/parvularia.css' %}">
    <title>PárvuloConnect</title>
</head>
<body>
    <div class="title">PárvuloConnect</div>
    <div>
        <br>
        <br>
        <p style="font-weight: bold; font-size: xx-large;">¡Hola, {{ request.user.nombre }}!</p>
    </div>
    <div class="buttons">
        <div><a href="#" class="button">Registro de Actividades</a></div>
        <div><a href="#" class="button">Reportes</a></div>
        <div><a href="#" class="button">Planificaciones</a></div>
        <div><a href="#" class="button">Asistencia Niños</a></div>
        <div><a href="#" class="button">Novedades</a></div>
        <div><a href="#" class="button">Información Personal</a></div>
    </div>
    <br>
    <div><a href="{% url 'logout' %}" class="button">Cerrar sesión</a></div>
</body>
</html>