{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Planificaciones</title>

    <!-- Favicon -->
    <link rel="icon" href="{% static 'img/favicon2.png' %}" type="image/x-icon" sizes="512x512">

    <!-- Estilos personalizados -->

    <link rel="stylesheet" href="{% static 'css/portalNotas.css' %}">

    <!-- FullCalendar CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/5.11.3/main.min.css">
</head>

<body>
<button class="btn btn-primary" onclick="window.location.href='{% url 'core:parvularia' %}'" style="text-align: center;">Regresar a la página principal</button>
<br>
<br>
<button class="btn btn-primary" onclick="window.location.href='{% url 'core:crearNota' %}'" style="text-align: center;">Crear una nota</button>

<h2>Calificaciones Registradas</h2>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Estudiante</th>
            <th>Curso</th>
            <th>Nivel de Desarrollo</th>
            <th>Nota</th>
            <th>Número de Sesiones</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for nota in notas %}
        <tr>
            <td>{{ nota.Estudiante_ID.nombre }}</td>
            <td>{{ nota.Curso_ID.nombre_curso }}</td>
            <td>{{ nota.get_Nivel_display }}</td>
            <td>{{ nota.get_Nota_display }}</td>
            <td>{{ nota.Sesion }}</td>
            <td>
                <button class="btn btn-primary" onclick="window.location.href='{% url 'core:editarNota' nota.id %}'" style="text-align: center;">Editar</button> |
                <button class="btn btn-primary" onclick="window.location.href='{% url 'core:eliminarNota' nota.id %}'" style="text-align: center;">Eliminar</button>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

    <!-- Footer -->
    <p class="mt-5 mb-3 text-muted">&copy; {% now 'Y' %} ParvuloConnect</p>


</body>

</html>


